@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Carrois+Gothic+SC&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Lexend+Giga:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Exo 2", sans-serif;
    
}



/* #1D4056,#38D1B5,#F65859*/

/* barra de navegación */

header {
    display: flex;
    width: 100%;
    background-color: #1D4056;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

header .logo img {
    display: flex;
    height: 50px;
    margin: 10px;
    align-items: center;

}

a {
    display: inline-block;
    text-decoration: none;
    text-shadow: 2px 1px 2px black;

}

nav a {
    padding: 10px;
    color: white;
    font-size: large;
}

nav a:hover {
    background-color: #bdc0cc;
    color: black;
    font-weight: 600;
    padding: 5px 10px;
    opacity: 0.7;
    border-radius: 25px;
    text-shadow: 0.5px 0.5px 2px white;

}

/********* INICIO ********/


.grid {
    display: grid;
    width: 99%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 7.5rem;
    grid-auto-flow: dense;
    grid-template-areas:
        "section-1 section-1 section-1 section-1 section-1 section-1 section-2 section-2 section-2 section-2 section-2 section-2"
        "section-1 section-1 section-1 section-1 section-1 section-1 section-2 section-2 section-2 section-2 section-2 section-2"
        "section-3 section-3 section-3 section-3 section-3 section-3 section-2 section-2 section-2 section-2 section-2 section-2"
        ". section-4 section-4 section-5 section-5 section-6 section-6 section-7 section-7 section-8 section-8 ."
        ". section-4 section-4 section-5 section-5 section-6 section-6 section-7 section-7 section-8 section-8 ."
        "section-9 section-9 section-9 section-9 section-10 section-10 section-10 section-10 section-11 section-11 section-11 section-11"
        "section-9 section-9 section-9 section-9 section-10 section-10 section-10 section-10 section-11 section-11 section-11 section-11"
        "section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12"
        "section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12"
        "section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12"
        "section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12 section-12"
    ;
    gap: 5px;
    margin: 3px;

}


/*section-1 */
.grid .section-1 {
    grid-area: section-1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid .section-1 a {
    width: 100%;
    height: 100%;
}

.grid .section-1 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.5) drop-shadow(2px 2px 5px grey);
}

.grid .section-1 h1 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
}

.grid .section-1 a:hover {
    padding: 3px;
}

/* section-2 */

.grid .section-2 {
    grid-area: section-2;
    width: 100%;
    height: 100%;
    margin: 2px;
    justify-self: center;
}

.grid .section-2 a {
    width: 100%;
    height: 100%;
}

.grid .section-2 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(1) drop-shadow(2px 2px 5px grey);
}

.grid .section-2 a:hover {
    padding: 3px;
}

/* section-3 */

.grid .section-3 {
    grid-area: section-3;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin: 2px;
    position: relative;
}

.grid .section-3 a {
    width: 100%;
    height: 100%;
}

.grid .section-3 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.5) drop-shadow(2px 2px 5px grey);
}

.grid .section-3 h2 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
}

.grid .section-3 a:hover {
    padding: 3px;
}

/*section-4 */
.grid .section-4 {
    grid-area: section-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin: 2px;
    position: relative;
}

/*section-5 */
.grid .section-5 {
    grid-area: section-5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin: 2px;
    position: relative;
    justify-self: center;
}


/*section-6 */
.grid .section-6 {
    grid-area: section-6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 2px;
    position: relative;
    justify-self: center;
}

/*section-7 */
.grid .section-7 {
    grid-area: section-7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    margin: 2px;
    position: relative;
}

/*section-8 */
.grid .section-8 {
    grid-area: section-8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
    position: relative;
}

.grid .product a {
    width: 100%;
    height: 100%;
}

.grid .product a img {
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 5px grey);
}

.grid .product a {
    padding: 5px;
    text-shadow: 1px 1px 2px grey;
    font-weight: 500;
}

.grid .product a:hover {
    filter: brightness(0.9);
    padding: 4px;
    color: white;
}

/*section-9 */
.grid .section-9 {
    grid-area: section-9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid .section-9 a {
    width: 100%;
    height: 100%;
}

.grid .section-9 a img {
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    filter: brightness(1) drop-shadow(2px 2px 5px grey);
}

.grid .section-9 a:hover {
    padding: 2px;
}

/*section-10 */
.grid .section-10 {
    grid-area: section-10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid .section-10 a {
    width: 100%;
    height: 100%;
}

.grid .section-10 a img {
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 5px grey);
}

.grid .section-10 a:hover {
    padding: 2px;
}

/*section-11 */
.grid .section-11 {
    grid-area: section-11;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid .section-11 a {
    width: 100%;
    height: 100%;
}

.grid .section-11 a img {
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 5px grey);
}

.grid .section-11 a:hover {
    padding: 2px;
}

/*section-11 */
.grid .section-12 {
    grid-area: section-12;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid .section-12 a {
    width: 100%;
    height: 100%;
}

.grid .section-12 a img {
    align-items: center;
    justify-content: center;
    padding: 5px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(2px 2px 5px grey);
}

.grid .section-12 a:hover {
    padding: 2px;
}

/******* SERVICIO TECNICO *****/

.grid-service {
    display: grid;
    width: 99%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30rem);
    grid-auto-flow: dense;
    grid-template-areas:
        "service-1 service-2 service-3"
        "service-4 service-5 service-6"
    ;
    gap: 5px;
    row-gap: 10px;
    margin: 3px;
}

/**** service-1 ****/
.grid-service .service-1 {
    grid-area: service-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid-service .service-1 a {
    width: 100%;
    height: 100%;
}

.grid-service .service-1 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    border-radius: 0.5rem;
}

.grid-service .service-1 h3 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
    

}

.grid-service .service-1 p { 
    flex: wrap;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: large;
    align-items: center;
    justify-content: center;
    font-weight: 250;
    padding: 10px;
    gap: 5px;
    height: 7rem;
    width: 99%;
    margin: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
}

.grid-service .service-1 a:hover {
    padding: 2px;
    filter: blur(1px);
}

/**** service-2 *****/
.grid-service .service-2 {
    grid-area: service-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid-service .service-2 a {
    width: 100%;
    height: 100%;
}

.grid-service .service-2 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    border-radius: 0.5rem;
}

.grid-service .service-2 h3 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
}

.grid-service .service-2 p {
    flex: wrap;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: large;
    align-items: center;
    justify-content: center;
    font-weight: 250;
    padding: 10px;
    gap: 5px;
    height: 7rem;
    width: 99%;
    margin: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
}

.grid-service .service-2 a:hover {
    padding: 2px;
    filter: blur(1px);
}

/******* service-3 *****/
.grid-service .service-3 {
    grid-area: service-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid-service .service-3 a {
    width: 100%;
    height: 100%;
}

.grid-service .service-3 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    border-radius: 0.5rem;
}

.grid-service .service-3 h3 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
}

.grid-service .service-3 p {
    flex: wrap;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: large;
    align-items: center;
    justify-content: center;
    font-weight: 250;
    padding: 10px;
    gap: 5px;
    height: 7rem;
    width: 99%;
    margin: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
}

.grid-service .service-3 a:hover {
    padding: 2px;
    filter: blur(1px);
}

/**** service-4 ****/
.grid-service .service-4 {
    grid-area: service-4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid-service .service-4 a {
    width: 100%;
    height: 100%;
}

.grid-service .service-4 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    border-radius: 0.5rem;
}

.grid-service .service-4 h3 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
}

.grid-service .service-4 p {
    flex: wrap;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: large;
    align-items: center;
    justify-content: center;
    font-weight: 250;
    padding: 10px;
    gap: 5px;
    height: 7rem;
    width: 99%;
    margin: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
}

.grid-service .service-4 a:hover {
    padding: 2px;
    filter: blur(1px);
}

/**** service-5 *****/
.grid-service .service-5 {
    grid-area: service-5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid-service .service-5 a {
    width: 100%;
    height: 100%;
}

.grid-service .service-5 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.4) ;
    border-radius: 0.5rem;
}

.grid-service .service-5 h3 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
}

.grid-service .service-5 p {
    flex: wrap;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: large;
    align-items: center;
    justify-content: center;
    font-weight: 250;
    padding: 10px;
    gap: 5px;
    height: 7rem;
    width: 99%;
    margin: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
}

.grid-service .service-5 a:hover {
    padding: 2px;
    filter: blur(1px);
}

/******* service-6 *****/
.grid-service .service-6 {
    grid-area: service-6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.grid-service .service-6 a {
    width: 100%;
    height: 100%;
}

.grid-service .service-6 a img {
    padding: 2px;
    width: 100%;
    height: 100%;
    filter: brightness(0.4);
    border-radius: 0.5rem;
}

.grid-service .service-6 h3 {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: xx-large;
    font-weight: 500;
}

.grid-service .service-6 p {
    flex: wrap;
    color: white;
    text-shadow: 1px 1px 2px grey;
    font-size: large;
    align-items: center;
    justify-content: center;
    font-weight: 250;
    padding: 10px;
    gap: 5px;
    height: 7rem;
    width: 99%;
    margin: 0.4rem;
    text-align: center;
    border-radius: 0.5rem;
}

.grid-service .service-6 a:hover {
    padding: 2px;
    filter: blur(1px);
}
/******* USER *****/
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100vh;
    height:35rem ;
    background-size: cover;
}
.login {
    position: relative;
    width: 400px;
    backdrop-filter: blur(2.1rem);
    border: 2px solid rgb(255, 255,255, .6);
    border-radius: 20px;
    height: 450px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.login h2 {
    font-size: 2.3rem;
    color: white;
    text-align: center;
}

.input {
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid #fff;
}

.input label {
    position: absolute;
    top: 50%;
    left: 5PX;
    transform: translateY(-50%);
    color:#fff;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
}
input:focus ~ label,
input:valid ~ label {
    top: -5px;
}
.input input {
    width:100% ;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: -35px 0 5px;
    color: #fff;
}

.input i{
    position: absolute;
    color: white;
    font-size: 1.6rem;
    top:19px;
    right:8px;
}

.olvidar{
    margin: -15px 0 15px;
    font-size: .9rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.olvidar label input {
    margin: 2px;
}
.olvidar label a {
    color: white;
    text-decoration: none;
    padding: -5px;
    margin-left: 14px;
    transition: .3s;
    font-size:.9em;
}

.olvidar label a:hover {
    text-decoration: underline;
}

button{
    width: 100%;
    height: 45px;
    border-radius:40px ;
    background: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

button:hover {
    opacity: .8;
}

.registrar {
    font-size: .8rem;
    color: white;
    text-align: center;
    margin: 20px 0 10px;
}

.registrar p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
    margin: 0 0.3rem;
}

.registrar p a:hover{
    text-decoration: underline;
}



/* footer */

footer {
    display: flex;
    width: 100%;
    background-color: #1D4056;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

footer img {
    display: flex;
    height: 50px;
    margin: 10px;
    margin-right: 10px;
    align-items: center;
    padding: 5px;
}

footer div {
    margin: 10px;
    color: white;
    display: flex;
    align-items: center;
}

footer div .red-social {
    color: white;
    font-size: 25px;
    margin: 10px;
}

footer div h2 {
    font-weight: 300;
    margin-right: 20px;
    text-shadow: 2px 1px 2px black;
}

body {
    background-image: linear-gradient(to right bottom, #1d4056, #1f4a60, #225569, #255f72, #2a6a7a, #2c6c7d, #2e6d81, #306f84, #326882, #36627e, #3a5b7a, #3f5474);
}

@media (max-width:762px) {
    header {
        flex-direction: column;
    }

    header .logo img {
        height: 40px;
        margin: 0px;
    }

    nav {
        padding: 10px 0px;
    }

    .grid {
        grid-template-rows: 6rem;
        gap: 2px;
        margin: 1px;
    }

    .grid .section-1 h1 {
        font-size: x-large;
    }

    .grid .section-3 h2 {
        font-size: x-large;
    }

    .grid .product a img {
        padding: 1px;
    }
}

@media (max-width:420px) {
    header {
        flex-direction: row;
    }

    header nav {
        padding: 0px;

    }

    header nav a {
        font-size: medium;
        padding: 5px;
    }

    header nav .nav-link {
        display: none;
    }

    .grid .section-8 {
        display: none;
    }

    .grid .section-10 {
        display: none;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "section-1 section-1"
            "section-3 section-3"
            "section-2 section-2"
            "section-4 section-5"
            "section-6 section-7"
            "section-9 section-9"
            "section-11 section-11"
            "section-12 section-12"
        ;
    }

    footer div h2 {
        display: none;
    }

    footer {
        font-size: small;
    }
}